extends layout

block content
  h1 TIC TAC TOE
  div#all
    div.row
      div.square#s00
      div.square#s01
      div.square#s02
    div.row
      div.square#s10
      div.square#s11
      div.square#s12
    div.row
      div.square#s20
      div.square#s21
      div.square#s22
